<h1><%= t 'photo.list' %></h1>

<div class="container">
<% for photo in @photos %>
  <%= render :partial => photo %>
<% end %>
<div class="spacer" />
</div>

<ul class="actions">
  <li><%= link_to t('photo.upload'), new_user_photo_path(@user) %></li>
</ul>
