<h1><%= t 'photo.upload' %></h1>

<% form_for [@user, @photo], :html => {:multipart => true} do |f| %>
  <%= render :partial => 'form', :object => f %>

  <p><%= f.submit t('create') %></p>
<% end %>

<ul class="actions">
  <li><%= link_to t('back'), user_photos_path(@user) %></li>
</ul>